/* Globales */
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 10px;
    background: blanchedalmond;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

img{
    width: 100%;
    height: auto;
}

/* header */
header{
    background-color: cadetblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin-left: 3%;
}

header .image{
    width: 100px;
    height: 100px;
    margin-right: 1%;
}

header .image img{
    border-radius: 100%;
}

/* section */
section{
    background-color:burlywood;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 2%;
}

section .image{
    margin: 1%;
    width: 120px;
    height: 120px;
    order: 1;
}

section h2{
    margin: 1%;
    order: 2;
}

section h3{
    order: 3;
    align-self: flex-start;
    border-bottom-style: solid;
    border-color: cadetblue;
}

section .lista{
    order: 4;
    align-self: flex-start;
    margin: 10px;
}


section .lista ul li span{
    border-bottom-style:dotted;
    border-color: cornflowerblue;
    border-bottom-width: 2px;
    color: darkblue;
}

section .lista ul li p{
    margin:1% 8%;
}

/* Footer */

footer{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

footer .image{
    width: 6%;
}

footer .image img{
    border-radius: 100%;
}

footer #redes{
    display: flex;
    flex-basis: 20%;
    align-self: center;
}

footer #redes ul{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    flex-wrap: wrap;
}

footer #redes ul li{
    flex-grow: 1;
    margin: 1%;
}

/* Pseudo Class Style Foot Links */
footer a:visited{
    color: darkred;
}

footer a:hover{
    color: forestgreen;
}

footer a:active{
    color: gold;
}

